.admin-table-container{
    
}

.admin-list{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.admin-list__header{
    height:54px;
    background-color: #f8fafc;
}

.admin-list__header li:first-child > *{
    display: inline-flex;
    padding-left:5px;
}

.admin-list__header button{
    margin-left: 10px;
    cursor: pointer;
}

.admin-list > li{
    padding:10px 30px;
}

.admin-list ul {
    display: flex;
    height:100%;
}

.admin-list ul li{
    flex: 0 1 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.admin-list__content{
    transition: transform 0.05s 0.05s, box-shadow 0.05s 0.05s;
}

.admin-list__content:hover{
    box-shadow:1px 1px 13px var(--light-grey1);
}


.admin-list ul li:first-child{
    justify-content: flex-start;
}

.admin-list__header li:nth-child(2), .admin-list__content li:nth-child(2){
    flex: 3 1 225px;
    flex-direction: column;
    row-gap: 5px;
}

.admin-list .list-content__title{
    align-items: flex-start;
    min-width: 0;
}

.admin-list .list-content__title > * {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    max-width:500px;
}

.admin-list li.list-content__nickname{
    flex-direction: row;
    column-gap:10px;
}


.admin-list > li:not(.admin-list__header){
    height: fit-content;
    border: 1px solid var(--light-grey1);
}