.admin-nav-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 1rem; */
    
}

.admin-nav-lists{
    font-size: 20px;
    border-bottom: 3px solid var(--admin-light-grey);
    padding:1rem 1rem;
    color: var(--admin-loyal-blue);
    /* margin: 0 10rem; */
}

.admin-nav{
    width: 90%;
}



li{
    cursor: pointer;
    display: inline;
    margin: 0 1.5rem
}

.selected{
    border-bottom: 2px solid var(--admin-loyal-blue);
    padding-bottom: 1rem;
    font-weight: bold;
}