input[type="checkbox"].checkbox {
  appearance: none;
  background-color: var(--white);
  width: 1rem;
  height: 1rem;
  border-radius: 25%;
  cursor: pointer;
  border: 1px solid var(--grey2);
}

input[type="checkbox"].checkbox:checked {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-image: url(/static/images/icon/check.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

input[type="checkbox"].checkbox:focus {
  box-shadow: 0 0 7px var(--tiffany-blue);
}
