.left-side-bar, .left-side-bar ul{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s;
}

.left-side-bar{
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    width:3.75rem;
    height: 100vh;
    row-gap:2.188rem;  
    box-shadow: 0px 3px 10px rgb(0 0 0 / 0.2);
    padding: 0.938rem 0.375rem;
    text-overflow: clip;
}

.left-side-bar > img{
    width: fit-content;
    flex:0 0 2.5rem;
}

.left-side-bar .deco-img-left::before{
    background-size: 50%;
}

/* 네비게이션 영역은 이미지를 제외한 나머지 전부 */

.left-side-bar > nav{
    flex-grow: 1;
}

.left-side-bar ul{
    height:100%;
    row-gap: 0.5rem;
    width:3rem;
}

.left-side-bar li{
    color: var(--admin-icon-theme);
    font-size: 1.5rem;
    width:100%;
    height:3rem;
    border-radius: 0.625rem;
    transition: background-color 0.3s;
}

.left-side-bar li.selected{
    background-color: var(--admin-loyal-blue);
}

.left-side-bar li:hover{
    background-color: var(--light-grey1);
}


.left-side-bar li:last-child{
    margin-top:auto;
}

/* side-bar가 펼쳐질 때의 속성 정의 */
.left-side-bar.expended{
    width:16.5rem;
    padding: 0.938rem 0.875rem;
}

.left-side-bar.expended ul{
    width:14.75rem;
}

.left-side-bar.expended li.selected{
    font-weight: bold;
    color:var(--white);
}
