.search-bar {
  min-width: 18.75rem;
  max-width: 39.375rem;
  height: 3.75rem;
  padding: 0.5rem 0.5rem 0.5rem 1.688rem;
  display: flex;
  align-items: center;
  border-radius: 62rem;
  border: 0.125rem solid #ebebeb;
}

.search-bar .icon {
  margin-right: 0.625rem;
}

/*  input의 공통 스타일을 만들까 하다가 일단은 이곳에서만 적용해보았습니다. 
    placeholder색상과 text입력시 색상은 통일해야하니 그건 공통으로 빼는것이 적절해보입니다. */
.search-bar input {
  width: 90%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #333;
  font-size: 1.125rem;
}

.search-bar input::placeholder {
  color: #8b8b8b;
}
/* input창이 focus 되면 생기는 아웃라인 제거 */
.search-bar input:focus {
  outline: none;
}