.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__header {
  margin: 1rem auto;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 14px;
}

@media (min-width: 768px) {
  .main__header {
    padding: 1rem 0;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .main__header {
    max-width: 1200px;
  }
}

/* 검색 결과 */
.search-result {
  width: 100%;
}

.search-result > h1 {
  font-size: 20px;
}

.search-result > h1 > strong {
  font-weight: bold;
}

/* 검색 옵션 */
.meeting__options {
  width: 100%;
  /* display: flex; */
}

.meeting-activate-option {
  /* margin-left: auto; */
  display: inline-flex;
  align-items: center;
}

.meeting-activate-option > span {
  margin-right: 1rem;
  font-weight: var(--bold);
  color: var(--main-color);
}

.main__content {
  max-width: 1200px;
  margin: auto;
}

.result-none {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--dark-grey2);
  padding: 80px 0;
}

.result-none strong {
  font-weight: bold;
}

@media (min-width: 768px) {
  .result-none {
    font-size: 20px;
  }
}

.lds-roller {
  margin: 2rem auto;
}
