<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{inc/layout}">
 <head>
  <title>ZPOP | 모임</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <th:block layout:fragment="css">
      <!-- component css -->
      <link rel="stylesheet" href="/css/member/component/profile-box.css">
      <link rel="stylesheet" href="/css/member/component/meeting-info.css">
      <link rel="stylesheet" href="/css/member/component/participant.css" >
      <link rel="stylesheet" href="/css/member/component/comment.css" />
      <link rel="stylesheet" href="/css/member/component/reply.css" />

      <link rel="stylesheet" href="/css/member/component/modal-2.css">
      <link rel="stylesheet" href="/css/member/component/report-modal.css">
      <!-- detail page css -->
      <link rel="stylesheet" href="/css/member/meeting/detail.css">
      <link rel="stylesheet" href="/css/member/member/profile-modal.css">
      <link rel="stylesheet" href="https://unpkg.com/@ivteplo/utilities.css@1.0.0/build/main.css">
  </th:block>	

  <th:block layout:fragment="js">
    <script src="/js/meeting/detail.js"></script>
    <script type="module" src="/js/comment/comment.js"></script>
    <script type="module" src="/js/comment/edit-comment.js"></script>
    <script src="/js/meeting/report.js"></script>
    <script src="/js/member/profile-modal.js" defer></script>
  </th:block>	

<!-- header.html 모임글 상세조회 화면 헤더(로그인 O) -->

<main class="main"  layout:fragment="content">
    <section th:attr="data-id=${meeting.id}" class="meeting meeting-id">
        <div class="meeting__info">
            <div class="meeting__category-wrap">
                <span class="meeting__category"  th:text="${meeting.categoryName}">문화생활</span>
            </div>
            <div class="meeting__header">
                <div class="meeting__title-container">
                    <span class="meeting__title"  th:text="${meeting.title}">한강공원에서 러닝하실 분~🙂</span>
                    <img class="meeting__title-hambuger-icon" src="/images/icon/hambuger.svg">
                    <th:block th:if="${meeting.isMyMeeting == true}">	
                    		<div sec:authorize="isAuthenticated()" th:replace="~{inc/meeting-detail-modal::member-host}"></div>
                    </th:block>
                    <th:block th:if="${meeting.isMyMeeting == false and meeting.hasParticipated == true}">  
                    		<div sec:authorize="isAuthenticated()" th:replace="~{inc/meeting-detail-modal::member-participant}"></div>
                    </th:block>
                    <th:block th:if="${meeting.isMyMeeting == false and meeting.hasParticipated == false}">   
                    		<div th:replace="~{inc/meeting-detail-modal::member}"></div>
                    </th:block>
                </div>
                <div class="meeting__date-container">
                    <img class="meeting__small-calander" src="/images/icon/small-calander.svg">
                    <span class="meeting__date"  th:text="${meeting.textStartedAt}">일시</span>
                </div>
                <div class="meeting__region-container">
                    <img class="meeting__small-location" src="/images/icon/small-location.svg" alt="">
                    <span class="meeting__region"  th:text="${meeting.regionName}">지역</span>
                </div>
                <div class="meeting__detail-region-wrap">
                    <span class="meeting__detail-region"  th:text="${meeting.detailRegion}">상세장소</span>
                </div>
            </div>
        </div>
        <div class="meeting__conetent-container">
                    <span class="meeting__content"  th:utext="${meeting.content}">
                        내용
                    </span>
            <div class="meeting__tags">
                <span th:text="|#${meeting.ageRange}|">나이</span>
                <span th:text="|#${meeting.maxMember}명|">인원</span>
                <span th:text="|#${meeting.genderCategory}|">성별</span>
            </div>
            <div class="meeting__views"  th:text="|조회수${meeting.viewCount}|">조회수</div>

            <div class="meeting__btn z-idx-2">
                <span th:if="${meeting.isClosed == true}" class="btn btn-round btn-join btn-dead" >모집완료</span>
                <span th:unless="${meeting.isClosed == true}" th:if="${meeting.isMyMeeting == true}" class="btn btn-round btn-join btn-action modal__on-btn" id="btn-close" data-modal="#modal-wrapper-close">마감하기</span>
                <span th:unless="${meeting.isClosed == true}" th:if="${meeting.isMyMeeting == false and meeting.hasParticipated == false} " class="btn btn-round btn-join btn-action modal__on-btn " id="btn-participation"  data-modal="#modal-wrapper-participation">참여하기</span>
                <span th:unless="${meeting.isClosed == true}" th:if="${meeting.isMyMeeting == false and meeting.hasParticipated == true}" class="btn btn-round btn-join btn-action modal__on-btn" id="btn-cancel-participation" data-modal="#modal-wrapper-cancel">참여취소</span>
            </div>
        </div>
    </section>
	
    <section class="participant">
        <div class="participant__num">
            <span>참가자</span>
            <span id="participant-count" th:text="${#lists.size(meeting.participants)}">참가자수</span>
            <span>/</span>
            <span th:text="${meeting.maxMember}">10</span>
            <span class="icon pointer icon-arrow-up"></span>
            <span class="icon pointer hidden icon-arrow-down"></span>
        </div>
        <ul class="participant__list">
            <li th:each="participant:${meeting.participants}">
            <div id="open-sheet" aria-controls="sheet" class="participant__info">
                <img 
                    th:src="@{${participant.profileImagePath}?${participant.profileImagePath}:'/images/icon/user-profile.svg'}">
                <span th:text="${participant.nickname}"></span>
            </div>
            </li>
        </ul>
    </section>
			
   <!------ 참여 모달 ------>
     <div class="modal-2 hidden z-idx-1" id="modal-wrapper-participation">

        <div class="modal-participation">
            <div class="modal__header">
                <span class="modal__x-icon pointer modal__close-btn" data-modal="#modal-wrapper-participation"></span>
            </div>
            <div class="modal__body">
                <div class="modal-participation-content">
                    <div class="modal-icon">
                        <img src="/images/icon/handshake24.svg">
                    </div>
                    <div class="modal-text">
                        <strong th:text="${meeting.title}">
                            제목
                        </strong>
                        <div class="next-line">이 모임에 참여하시겠어요?</div>
                    </div>
                </div>
                <div class="btn-modal">
                    <div class="btn-modal-left  modal__close-btn pointer" data-modal="#modal-wrapper-participation">다음에 할래요</div>
                    <div class="btn-modal-right modal__close-btn pointer" id="participate-confirm" data-modal="#modal-wrapper-participation">참여하기</div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------참여 취소 모달----------------------->
    	<div class="popup-container modal-wrapper hidden z-idx-1" id="modal-wrapper-cancel">
		<div class="popup__wrap-inactive" id="popup">
			<div class="popup">
				<div class="popup__body">
					<div class="popup__body-content">
						<div class="popup__body-contentbox">
							<span>참여를 취소하시겠습니까?</span>
						</div>
					</div>
				</div>
				<div class="popup__foot">
					<span class="pop-btn close modal__close-btn" id="cancel-cancel" data-modal="#modal-wrapper-cancel">취소</span> 
					<span class="pop-btn confirm modal__close-btn" id="cancel-confirm" data-modal="#modal-wrapper-cancel">확인</span>
				</div>
			</div>
		</div>
	</div>

    <!-- -------------모임 마감 모달----------------------->
    	<div class="popup-container modal-wrapper hidden z-idx-1" id="modal-wrapper-close">

		<div class="popup__wrap-inactive" id="popup">
			<div class="popup">
				<div class="popup__body">
					<div class="popup__body-content">
						<div class="popup__body-contentbox">
							<span>모집을 마감하시겠습니까?</span>
						</div>
					</div>
				</div>
				<div class="popup__foot">
					<span class="pop-btn close modal__close-btn" id="close-cancel" data-modal="#modal-wrapper-close">취소</span> 
					<span class="pop-btn confirm modal__close-btn" id="close-confirm" data-modal="#modal-wrapper-close">확인</span>
				</div>
			</div>
		</div>
	</div>

    <!--------------- 모임 신고 모달----------------------->
    <div id="modal-report-meeting" class="modal-wrapper hidden z-idx-1 modal-report">

      <div class="modal">
        <div class="modal__header">
    
        <span class="modal__close-btn report__close-btn icon icon-x" data-modal="#modal-report-meeting">닫기</span>
        </div>
        <div class="report-modal__body">
         <div class="meeting-form__input">
            <label class="input__label" for="category">신고사유</label>
            <div class="select-box select-box--input meeting-select-box">
                <span class="meeting-span">카테고리를 선택하세요</span>
                <ul class="select-box__options">
                    <li data-id="1">사행성 글</li>
                    <li data-id="2">부적절한 게시글 제목/내용</li>
                    <li data-id="3">판매 권유 및 상행위 글</li>
                    <li data-id="4">기타</li>
                </ul>
                <input class="hidden" type="text">
            </div>
        </div>
        
        <div class="input-text">
        	<div>
            <label for ="meeting-input__content--id" class="input-text__label">상세사유 (선택)</label>
            <textarea  id="meeting-input__content--id" placeholder="상세 내용을 적어주세요. (최대 100자)" class="input-text__content"></textarea>
       		</div>
        </div>
        <div class="btn-wrapper">
            <span id="cancel-btn" data-modal="#modal-report-meeting" class="comment__btn btn btn-round modal__close-btn report__cancel-btn">취소</span>
            <span id="report-btn" data-modal="#modal-report-meeting" class="comment__btn btn btn-round meeting__report-btn">신고하기</span>
        </div>
        </div>
      </div>
    </div>
    <!--------------- 댓글 신고 모달 -------------------->

     <div id="modal-report-comment" class="modal-wrapper hidden z-idx-1 modal-report">
      <div class="modal">
        <div class="modal__header">
    
        <span class="modal__close-btn icon icon-x" data-modal="#modal-report-comment">닫기</span>
        </div>
        <div class="report-modal__body">
         <div class="meeting-form__input">
            <label class="input__label" for="category">신고사유</label>
            <div class="select-box select-box--input comment-select-box">
                <span class="comment-span">카테고리를 선택하세요</span>
                <ul class="select-box__options">
                    <li data-id="1">욕설/유해성 문구</li>
                    <li data-id="2">스팸/광고</li>
                    <li data-id="3">기타</li>
                </ul>
                <input class="hidden" type="text">
            </div>
        </div>
        
        <div class="input-text">
        	<div>
            <label for ="comment-input__content--id" class="input-text__label">상세사유 (선택)</label>
            <textarea  id="comment-input__content--id" placeholder="상세 내용을 적어주세요. (최대 100자)" class="input-text__content"></textarea>
       		</div>
        </div>
        <div class="btn-wrapper">
            <span id="cancel-btn" data-modal="#modal-report-comment" class="comment__btn btn btn-round modal__close-btn">취소</span>
            <span id="report-btn" data-modal="#modal-report-comment" class="comment__btn btn btn-round comment__report-btn">신고하기</span>
        </div>
        </div>
      </div>
    </div>
    
    <!--------------- 사용자 신고 모달 -------------------->

      <div id="modal-report-member" class="modal-wrapper hidden z-idx-1 modal-report">
      <div class="modal">
        <div class="modal__header">
            <span class="modal__close-btn icon icon-x" data-modal="#modal-report-member">닫기</span>
        </div>
        <div class="report-modal__body">
         <div class="meeting-form__input">
            <label class="input__label" for="category">신고사유</label>
            <div class="select-box select-box--input comment-select-box">
                <span class="member-span">카테고리를 선택하세요</span>
                <ul class="select-box__options">
                    <li data-id="1">부적절한 닉네임</li>
                    <li data-id="2">물건 판매 권유 등 상행위</li>
                    <li data-id="3">기타</li>
                </ul>
                <input class="hidden" type="text">
            </div>
        </div>
        
        <div class="input-text">
        	<div>
            <label for ="member-input__content--id" class="input-text__label">상세사유 (선택)</label>
            <textarea  id="member-input__content--id" placeholder="상세 내용을 적어주세요. (최대 100자)" class="input-text__content"></textarea>
       		</div>
        </div>
        <div class="btn-wrapper">
            <span id="cancel-btn" data-modal="#modal-report-member" class="comment__btn btn btn-round modal__close-btn">취소</span>
            <span id="report-btn" data-modal="#modal-report-member" class="comment__btn btn btn-round member__report-btn">신고하기</span>
        </div>
        </div>
      </div>
    </div>
    <!--신고 완료하였습니다 모달 -->
    <div class="modal-wrapper hidden report-modal-wrapper">
     <div class="report-complete">
        <div class="report-complete-content">신고가 완료되었습니다</div>
        <div class="report-complete__btn">확인</div>
    </div>
    </div>
    <!--------------- 댓글 섹션 -------------------->
    <section class="comment">
			<h2 class="comment__num" th:text="'댓글 ' + ${meeting.commentCount}+' 개'">N</h2>
			<div class="comment__input-container">
				<textarea class="comment__input" name="comment-text"
					id="comment-text" placeholder="댓글을 입력하세요."></textarea>
				<div class="comment__btn-container">
					<span class="reply__btn btn btn-round btn-cancel cancel-btn hidden">취소하기</span>
					<span class="comment__btn btn btn-round btn-action" id="register-btn">등록하기</span>
					<span class="hidden comment__btn btn btn-round btn-action" id="edit-save-btn">저장하기</span>
				</div>
			</div>
			<ul class="comment__list">
				<li th:attr="data-id=${comment.id}" th:each="comment:${meeting.comments}">
					<div class="profile">
						<span class="profile__image" th:text="${comment.profileImgPath}"></span>
						<span class="profile__nickname" th:text="${comment.nickname}">닉네임</span>
						<span class="profile__time" th:text="${comment.elapsedTime}">경과시간</span>
						<button class="kebob"></button>
            <th:block th:if="${comment.isMyComment}">
                    <div sec:authorize="isAuthenticated()" th:replace="~{inc/meeting-detail-modal::writer}"></div>
            </th:block>
            <th:block th:if="${!comment.isMyComment}">
                    <div sec:authorize="isAuthenticated()" th:replace="~{inc/meeting-detail-modal::reader}"></div>
            </th:block>
					</div>
                    <span class="comment__content" th:text="${comment.content}">
                        댓글 내용
					</span>
					<div class="comment__replies">
						<span class="pointer underline reply-cnt"
							th:classappend="(${comment.countOfReply}==0)? 'hidden'"
							th:text="'답글 ' + ${comment.countOfReply}+'개'"></span> <span
							class="hidden pointer reply-close">닫기</span> <span
							class="pointer underline reply-write">답글 달기</span>
					</div>
					<section class="reply hidden">
						<ul class="reply__list">

						</ul>
					</section>
				</li>
			</ul>
		</section>


         <!----------------------------------🎀유저 프로필 모달!! 시작🎀------------------------------------------------------------->
                
           <!------------ sheet 컴포넌트 시작 --------------->
           <div id="sheet" class="column items-center justify-end" aria-hidden="true">
               <div class="overlay"></div> <!-- for overlay background -->
               <div class="contents column">
                   <header class="controls">
                       <div class="draggable-area">
                       <div class="draggable-thumb"></div>
                       </div>
                       <span class="close-sheet icon icon-x"></span>
                   </header>
         
                   <div class="body column">
                       <div class="profile-container">
                           <div class="image-wrap">
                               <div class="image-bg">
                                   <img src="/images/minji.jpg" class="image" alt="">
                               </div>
                           </div>
                       
                           <div class="user__info">
       
                               <div class="user__info-fixed">
                                   <span>닉네임</span>
                                   <span>집합 참여</span>
                                   <span>인기도</span>
                               </div>
       
                               <div class="user__info-flexible">
                                   <span>하입보이너만원해ye</span>
                                   <span>222 회</span>
                                   <span>333 점💛</span>
                               </div>
                           </div>  
       
                           <div class="ban__wrap">
                               <span class="btn btn-semiround report" >
                                   <span class="icon icon-siren-white"></span>
                                   신고하기
                               </span>
       
                               <span class="btn btn-semiround kick" >
                                   <span class="icon icon-door"></span>
                                   내보내기
                               </span>
                           </div>
                       </div><!-- end of profile-container -->
                   </div><!-- end of body column -->
               </div><!-- end of content column -->
           </div><!-- end of sheet -->
       <!----------------------------------🎀유저 프로필 모달!! 끝🎀------------------------------------------------------------->

    </main>
</html>