<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{inc/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/member/style.css" />
    <link rel="stylesheet" href="/css/deco.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/icon.css">
    <!-- component css -->
    <link rel="stylesheet" href="/css/member/component/header.css">
    <link rel="stylesheet" href="/css/member/component/select.css">
    <link rel="stylesheet" href="/css/member/component/profile-box.css">
    <link rel="stylesheet" href="/css/member/component/meeting-info.css">
    <link rel="stylesheet" href="/css/member/component/participant.css" type="text/css" >
    <link rel="stylesheet" href="/css/member/component/comment.css" />
    <link rel="stylesheet" href="/css/member/popup.css">
    <!-- detail page css -->
    <link rel="stylesheet" href="/css/member/meeting/detail.css">

</head>
<body>
<!-- header.html 모임글 상세조회 화면 헤더(로그인 O) -->

<main class="main"  layout:fragment="content">
    <section class="meeting">
        <div class="meeting__info">
            <div class="meeting__category-wrap">
                <span class="meeting__category"  th:text="${dto.categoryName}">문화생활</span>
            </div>
            <div class="meeting__header">
                <div class="meeting__title-container">
                    <span class="meeting__title"  th:text="${dto.title}">한강공원에서 러닝하실 분~🙂</span>
                    <img class="meeting__title-hambuger-icon" src="/images/icon/hambuger.svg">
                </div>
                <div class="meeting__date-container">
                    <img class="meeting__small-calander" src="/images/icon/small-calander.svg">
                    <span class="meeting__date"  th:text="${dto.startedAt}">11.01(일) 13:00</span>
                </div>
                <div class="meeting__region-container">
                    <img class="meeting__small-location" src="/images/icon/small-location.svg" alt="">
                    <span class="meeting__region"  th:text="${dto.regionName}">경남/부산/울산</span>
                </div>
                <div class="meeting__detail-region-wrap">
                    <span class="meeting__detail-region"  th:text="${dto.detailRegion}">서면역 9와 3/4 이번에도 수정하면 꿀밤 날리겠습니다^^</span>
                </div>
            </div>
        </div>
        <div class="meeting__conetent-container">
                    <span class="meeting__content"  th:text="${dto.content}">
                        한강에서 우리 함께 뛰어요~!
                        왜냐면은 제가 달리기를너무너무 조아하하하하해하기때문이에용
                        목표는 10km! 완주하실 분만 모집합니다~!!
                        날씨는 좋을 예정이네요~
                        그래도 물을 충분히 가져오시는게 좋옹아아아요~!
                    </span>
            <div class="meeting__tags">
                #20대 선호
                #+10명
                #남자만
            </div>
            <div class="meeting__views"  th:text="${dto.viewCount}">조회수 999회</div>
            <div class="meeting__btn">
                <span class="btn btn-round btn-join" id="participation-btn">참여하기</span>
            </div>
        </div>
    </section>

    <section class="participant">
        <div class="participant__num">
            <span>참가자</span>
            <span th:text="${dto.maxMember}">15/56</span>
            <span class="icon icon-arrow-up"></span>
        </div>
        <ul class="participant__list">
            <li>
                <span class="participant__info"><img src="/images/girl.svg">일이삼사오육칠팔구십</span>
            </li>
            <li>
                <span class="participant__info"><img src="/images/girl.svg">일이삼사오육칠팔구십</span>
            </li>
            <li>
                <span class="participant__info"><img src="/images/girl.svg">일이삼사오육칠팔구십</span>
            </li>
            <li>
                <span class="participant__info"><img src="/images/girl.svg">일이삼사오육칠팔구십</span>
            </li>
            <li>
                <span class="participant__info"><img src="/images/girl.svg">일이삼사오육칠팔구십</span>
            </li>
        </ul>
    </section>

    
    </main>
</body>

<script>
    window.addEventListener("load",function(){
        const participationBtn = document.querySelector("#participation-btn");
		console.log("load");
        participationBtn.onclick = function(e){
            e.preventDefault();
            
            console.log("참여하기 버튼 클릭")
            const data = { 
        			method: "POST", // 또는 'PUT'
                  headers: {
                    "Content-Type": "application/json",
               	},
                  body: JSON.stringify({
                	  meetingId:280,
                	  participantId:2
                  })
        		}

                fetch("http://localhost:8080/meeting/participate",data)
                .then((response) => {
                  console.log('성공:', data);
        		  alert("성공적으로 참여했습니다");
                })
                .catch((error) => {
        			console.error('실패:', error);
        			alert("참여에 실패했습니다");
                });
        }
    })
</script>
</html>