<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="/static/css/member/style.css">
    <link rel="stylesheet" href="/static/css/deco.css">
    <link rel="stylesheet" href="/static/css/button.css">
    <link rel="stylesheet" href="/static/css/form-fixed.css">
    <link rel="stylesheet" href="/static/css/member/component/header.css">
    <link rel="stylesheet" href="/static/css/member/component/select.css">
    <link rel="stylesheet" href="/static/css/member/meeting/create.css">
</head>
<body>
    <header class="header">
        <h1 class="text-hidden">ZPOP</h1>
        <nav>
            <ul>
                <li class="header__main"><a class="text-hidden" href="#">홈으로 이동</a></li>
                <li class="header__create-meeting"><a href="">모임 등록</a></li>
                <li class="header__search"><button class="text-hidden">검색</button></li>
                <li class="header__notification"><button class="text-hidden">알림확인</button></li>
                <li class="header__profile select-box">
                    <button><img src="/static/images/girl.svg" alt="프로필"></button>
                    <ul class="select-box__options select-box__options--right select-box__options--header">
                        <li><a href="">내 프로필</a></li>
                        <li><a href="">내가 모집한 모임</a></li>
                        <li><a href="">내가 참여한 모임</a></li>
                        <li><a href="">모임 평가하기</a> </li>
                        <li><a href="">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="meeting-form-container">
            <form class="meeting-form" action="/action_page.php">
                <h1 class="meeting-form__title">모임 등록하기</h1>
                <fieldset class="meeting-form__default-info">
                    <legend>1. 모임 기본 정보를 입력해주세요.</legend>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">카테고리</label>
                        <div class="select-box select-box--input">
                            <input placeholder="카테고리를 선택하세요" type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>밥/카페</li>
                                <li>운동</li>
                                <li>스터디</li>
                                <li>방탈출</li>
                                <li>보드게임</li>
                                <li>문화</li>
                                <li>펫</li>
                                <li>기타</li>
                            </ul>
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">날짜/시간</label>
                        <div class="input-text__content-wrapper">
                            <input type="datetime-local" class="input-text__content">
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">지역</label>
                        <div class="select-box select-box--input">
                            <input placeholder="카테고리를 선택하세요" type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>서울</li>
                                <li>인천/경기</li>
                                <li>충청/대전/세종</li>
                                <li>강원</li>
                                <li>경북/대구</li>
                                <li>전라/광주</li>
                                <li>경남/부산/울산</li>
                                <li>제주</li>
                                <li>온라인</li>
                            </ul>
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <div class="input-text">
                            <label class="input-text__label" for="">상세장소</label>
                            <div class="input-text__content-wrapper">
                                <input class="input-text__content"type="text" placeholder="상세장소를 입력해주세요">
                            </div>
                            <span class="input__message"></span>
                        </div>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">연령대</label>
                        <div class="select-box select-box--input">
                            <input placeholder="연령대를 선택해주세요." value="상관 없음" type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>10 대</li>
                                <li>20 대</li>
                                <li>30 대</li>
                                <li>40 대</li>
                                <li>50 대 이상</li>
                            </ul>
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">성별</label>
                        <div class="select-box select-box--input">
                            <input placeholder="성별을 선택하세요." value="남녀 모두" type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>남녀 모두</li>
                                <li>남자만</li>
                                <li>여자만</li>
                            </ul>
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">모집 인원</label>
                        <div class="select-box select-box--input">
                            <input placeholder="모집인원을 선택하세요" type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>2 명</li>
                                <li>3 명</li>
                                <li>4 명</li>
                                <li>5 명</li>
                                <li>6 명</li>
                            </ul>
                        </div>
                        <span class="input__message"></span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input__label" for="category">연락방법</label>
                        <div class="select-box select-box--input">
                            <input placeholder="연락 방법을 선택해주세요." type="text" name="category" id="" readonly>
                            <ul class="select-box__options">
                                <li>카카오톡 오픈 채팅</li>
                                <li>디스코드</li>
                            </ul>
                        </div>
                        <div class="input-text__content-wrapper">
                            <input class="input-text__content"type="text" placeholder="오픈채팅방 링크">
                        </div>
                        <span class="input__message"></span>
                    </div>
                </fieldset>
                <fieldset class="meeting-form__details">
                    <legend>2. 모임에 대해 소개해주세요.</legend>
                    <div class="meeting-form__input input-text">
                        <label class="input-text__label" for="">제목</label>
                        <div class="input-text__content-wrapper input-text__content-wrapper--error">
                            <input class="input-text__content" type="text" placeholder="제목을 입력해주세요">
                        </div>
                        <span class="input__message">잘못 입력하였습니다.</span>
                    </div>
                    <div class="meeting-form__input">
                        <label class="input-text__label" for="">내용</label>
                        <div id="editor">
                            <p>우리의 모임에 대해 소개해주세요!</p>
                            <p>내용이 <strong>자세하면</strong> <u>참여할 확률</u>이 높아져요.</p>
                            <p><br></p>
                        </div>
                    </div>
                </fieldset>
                <div class="meeting-form__buttons">
                    <button class="btn btn-round">취소</button>
                    <button class="btn btn-round btn-action" type="submit">등록하기</button>
                </div>
            </form>
        </div>    
    </main>
</body>
<script>
    let toolbarOptions = ['bold', 'italic', 'underline', 'strike', 'link', 'image'];
    var quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        toolbar: toolbarOptions,
      },
    });
    var form = document.querySelector("form");
    var hiddenInput = document.querySelector('#hiddenInput');

    form.addEventListener('submit', function(e){
        hiddenInput.value = quill.root.innerHTML;
    });

</script>
<script src="/static/js/member/select.js"></script>
<style>
    .ql-toolbar, .ql-snow{
        border-radius: 5px;
        border: 2px solid var(--light-grey1) !important;
    }

    .ql-editor{
        min-height:500px;
        font-size: 1.125rem;
    }
</style>
</html>