<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!----------------------- 메인 화면 헤더(로그인 X)---------------->
    <header th:fragment="anonymous-header" class="header">
        <h1 class="text-hidden">ZPOP</h1>
        <nav>
            <ul>
                <li class="header__main"><a class="text-hidden" href="#">홈으로 이동</a></li>
                <li class="header__create-meeting"><a class="text-hidden" href="">모임 등록</a></li>
                <li class="header__search"><button class="text-hidden">검색</button></li>
                <li class="header__login">
					<button class="modal__on-btn" data-modal="#modal-login">로그인</button>
					<div id="modal-login" class="modal-wrapper hidden">
						<div class="modal">
							<div class="modal__header">
								<span class="modal__close-btn icon icon-x"
									data-modal="#modal-login">닫기</span>
							</div>
							<div class="modal__body">
								<div class="logo-img">
									<img src="/images/logo/logo-modal.svg" alt="" class="src">
								</div>
								<div class="login-btn-container">
									<a class="login-btn login-btn--kakao text-hidden"
										id="kakao-login-btn"
										href="javascript:Kakao.Auth.authorize({redirectUri: 'http://localhost:8080/login/oauth/kakao'})">카카오
										로그인 버튼</a> 
									<a class="login-btn login-btn--naver text-hidden"
										id="naver-login-btn" href="javascript:void(0)">네이버 로그인 버튼</a>
								</div>
							</div>
						</div>
					</div>
				</li>
            </ul>
        </nav>
    </header>

    <!----------------------- 메인 화면 헤더(로그인 O)---------------->

    <header class="header" th:fragment="member-header">
        <h1 class="text-hidden">ZPOP</h1>
        <nav>
            <ul>
                <li class="header__main"><a class="text-hidden" href="#">홈으로 이동</a></li>
                <li class="header__create-meeting"><a href="">모임 등록</a></li>
                <li class="header__search"><button class="text-hidden">검색</button></li>
                <li class="header__notification"><button class="text-hidden">알림확인</button></li>
                <li class="header__profile select-box">
                    <button><img src="/images/girl.svg" alt="프로필"
                    th:src="@{(${member.profileImagePath}?${member.profileImagePath}:'/images/icon/user-profile.svg')}"></button>
                    <ul class="select-box__options select-box__options--right select-box__options--header">
                        <!--li 말고 div 박스 전체로 -->
                        <li><a href="/member/me">내 프로필</a></li>
                        <li><a href="/member/me/gathering">내가 모집한 모임</a></li>
                        <li><a href="/member/me/meeting">내가 참여한 모임</a></li>
                        <li><a href="/member/me/meeting">모임 평가하기</a> </li>
                        <li><a href="">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!----------------------- 모임글 상세조회 화면 헤더(로그인 X)---------------->
    
        <header class="header header--list" th:fragment="anonymous-header-meeting-detail">
            <h1 class="text-hidden">ZPOP</h1>
            <nav>
                <ul>
                    <li class="header__main"><a class="text-hidden" href="#">홈으로 이동</a></li>
                    <li class="header__create-meeting"><a class="text-hidden" href="">모임 등록</a></li>
                    <li class="header__search"><button class="text-hidden">검색</button></li>
                    <li class="header__login">
					<button class="modal__on-btn" data-modal="#modal-login">로그인</button>
					<div id="modal-login" class="modal-wrapper hidden">
						<div class="modal">
							<div class="modal__header">
								<span class="modal__close-btn icon icon-x"
									data-modal="#modal-login">닫기</span>
							</div>
							<div class="modal__body">
								<div class="logo-img">
									<img src="/images/logo/logo-modal.svg" alt="" class="src">
								</div>
								<div class="login-btn-container">
									<a class="login-btn login-btn--kakao text-hidden"
										id="kakao-login-btn"
										href="javascript:Kakao.Auth.authorize({redirectUri: 'http://localhost:8080/login/oauth/kakao'})">카카오
										로그인 버튼</a> 
									<a class="login-btn login-btn--naver text-hidden"
										id="naver-login-btn" href="javascript:void(0)">네이버 로그인 버튼</a>
								</div>
							</div>
						</div>
					</div>
				</li>
                </ul>
            </nav>
        </header>

    <!----------------------- 모임글 상세조회 화면 헤더(로그인 O)---------------->

    <header class="header header--list" th:fragment="member-header-meeting-detail">
        <h1 class="text-hidden">ZPOP</h1>
        <nav>
            <ul>
                <li class="header__main"><a class="text-hidden" href="#">홈으로 이동</a></li>
                <li class="header__create-meeting"><a href="">모임 등록</a></li>
                <li class="header__search"><button class="text-hidden">검색</button></li>
                <li class="header__notification"><button class="text-hidden">알림확인</button></li>
                <li class="header__profile select-box">
                    <button><img src="/images/girl.svg" alt="프로필"></button>
                    <ul class="select-box__options select-box__options--right select-box__options--header">
                        <li><a href="/member/me">내 프로필</a></li>
                        <li><a href="/member/me/gathering">내가 모집한 모임</a></li>
                        <li><a href="/member/me/meeting">내가 참여한 모임</a></li>
                        <li><a href="/member/me/meeting">모임 평가하기</a> </li>
                        <li><a href="">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</html>