
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/layout}">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내프로필</title>
    <link rel="stylesheet" th:href="@{/css/member/style.css}">
    <link rel="stylesheet" th:href="@{/css/deco.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/member/member/my-profile.css}">
</head>
<body>
<!--📌to do: 뒤로가기 있는 헤더 적용 -->
<main layout:fragment="content">

    <!--------------------my-profile start -------------------->

   <div class="my-profile">
    <div class="my-profile-container">


        <h2 class="profile__title" >내 프로필</h2>
        <div class="profile__image">
           <!-- <input type="file"> 추가해야함 -->
            <div class="profile__image--no-photo .icon"></div>
        </div>
        <span class="profile__nickname" th:text="${session.member.nickname}">닉네임</span>

        <div class="profile__fame">
            <span th:text="'인기도: '+${session.member.fame}+' 점'">인기도: 99점</span>
            <span class="deco-img-star "></span>
        </div>

        <a class="btn-semiround profile__btn" th:href="@{/member/me/edit}">프로필 수정</a>
<!--a태그로 수정하기-->

        <div class="profile__page-move">
            <a th:href="@{/member/me/meeting}">　내가 참여한 모임</a>
            <span class="icon icon-arrow-right">오른쪽 화살표</span>
        </div>
        <div class="profile__page-move">
            <a th:href="@{/member/me/gathering}">　내가 모집한 모임</a>
            <span class="icon icon-arrow-right">오른쪽 화살표</span>
        </div>
        <a class="profile__sign-out"href="">탈퇴하기</a>


    </div>
   </div>
</main>
    <!--------------------my-profile end -------------------->
</body>
</html>
