
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/layout}">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZPOP | 내프로필</title>
    <link rel="stylesheet" th:href="@{/css/member/style.css}">
    <link rel="stylesheet" th:href="@{/css/deco.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/member/member/my-profile.css}">
    <link rel="stylesheet" href="/css/member/popup.css">
    <script src="/js/member/profile-edit.js"></script>
   
</head>
<body>
<main layout:fragment="content">

    <!--------------------my-profile start -------------------->
<!--헤더 적용 필요-->
    <div class="my-profile">
        <div class="my-profile-container">


            <h2 class="profile__title" >프로필 수정</h2>
            <div class="profile__image">
                <!--📌to do: 이미지 등록-->
                <div class="profile__image--no-photo">
                    <div class="icon icon-camera"></div>
                </div>
            </div>

            <div class="input-text">
                <!--📌to do: 닉네임 수정-->
                <label class="input-text__label" for="input-text__content">닉네임</label>
                <input id ="input-text__content" class="input-text__content" type="text" th:value="${member.nickname}">
            </div>
            <span class="btn-semiround profile__btn--save " id="showPopup">저장하기</span>





        </div>
    </div>

    <div class="popup-container">
           
           <div class="popup__wrap-inactive" id="popup">
             <div class="popup">
             
               <div class="popup__body">
                 <div class="popup__body-content">
                   <div class="popup__body-contentbox">
                       <span>😀 팝업 문구를 작성해주세요요요요요요요요요요요요요요!!</span>
                   </div>
                   
                 </div>
               </div>
               <div class="popup__foot">
                   <span class="pop-btn close" id="close">취소 문구</span>
                 <span class="pop-btn confirm" id="confirm">수락 문구</span>
                
               </div>
             </div>
         </div>
         </div>
  
</main>
<!--------------------my-profile end -------------------->
</body>
</html>
'