<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/admin/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/admin/component/button.css">
    <link rel="stylesheet" href="/static/css/admin/component/status.css">
    <link rel="stylesheet" href="/static/css/admin/component/header.css">
    <link rel="stylesheet" href="/static/css/admin/component/admin-nav.css">
    <link rel="stylesheet" href="/static/css/admin/component/admin-search-bar.css">
    <link rel="stylesheet" href="/static/css/admin/component/table-bar.css">
    <link rel="stylesheet" href="/static/css/admin/component/admin-list.css">
    <link rel="stylesheet" href="/static/css/deco.css">
    <script src="/static/js/member/modal.js"></script>
    <script src="/static/js/admin/admin.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <main>
            <nav class="admin-nav">
                <ul class="admin-nav__lists">
                    <li class="admin-nav__list admin-nav__list--selected" ><a href="./list.html">댓글 조회</a></li>
                </ul>
            </nav>
            <div class="admin-search-bar-div">
                <div class="admin-search-bar-box">
                    <input class="admin-search-bar" type="text" placeholder="키워드를 입력하세요">
                    <button class="admin-search-button"></button>
                    <div class="filter-box hidden">
                        <form>
                            <div><span>검색어</span><input class="keyword-input" type="text"></div>
                            <div>
                                <span>카테고리</span>
                                <select class="category-select">
                                    <option value = "category" selected></option>
                                    <option value = "food">밥/카페</option>
                                    <option value = "sports">운동</option>
                                    <option value = "study">스터디</option>
                                    <option value = "room-escape">방탈출</option>
                                    <option value = "board-game">보드게임</option>
                                    <option value = "culture">문화</option>
                                    <option value = "pet">펫</option>
                                    <option value = "etc">기타</option>
                                </select>
                            </div>
                            <div>
                                <span>기간</span>
                                <input class="date-input" type="date">
                                <span>로 부터</span>
                                <select class="period-select">
                                    <option selected>1일</option>
                                    <option>3일</option>
                                    <option>1주</option>
                                    <option>1개월</option>
                                    <option>3개월</option>
                                    <option>6개월</option>
                                    <option>1년</option>
                                </select>
                            </div>
                            <div>
                                <span>페이지당 결과</span>
                                <select class="result-amount">
                                    <option value = "10" selected>10개</option>
                                    <option value = "20">20개</option>
                                    <option value = "50">50개</option>
                                    <option value = "100">100개</option>
                                </select>
                            </div>
                            <div class="search-button"><input type="submit" value="검색" class="filter-button"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="admin-list-container">
                <div class="table-bar">
                    <div class="table-bar__left-container">
                      <input class="checkbox" type="checkbox" name="table-checkbox" />
                      <span class="table-bar__icon table-bar__icon-check"></span>
                      <span class="table-bar__icon table-bar__icon-x"></span>
                    </div>
              
                    <div class="table-bar__right-container">
                      <span class="table-bar__page"> 9,999개 중 1-10 </span>
                      <span class="table-bar__icon table-bar__icon-arrow-left hide"></span>
                      <span class="table-bar__icon table-bar__icon-arrow-right hide"></span>
                    </div>
                  </div>
                <ul class="admin-list">
                    <li class="admin-list__header">
                        <ul>
                            <li>
                                <span>ID</span>
                                <button><img src="/static/images/icon/up-down.svg" alt=""></button>
                            </li>
                            <li>모임글 제목/댓글 내용</li>
                            <li>작성자(id)</li>
                            <li>부모댓글(id)</li>
                            <li>작성일자</li>
                        </ul>
                    </li>
                    <li class="admin-list__content">
                        <ul class="list-content">
                            <li class="list-content__id">
                                <input type="checkbox" class="checkbox">
                                <span>1</span>
                            </li>
                            <li class="list-content__title">
                                <span class="bold">광화문에서 축구하실분</span>
                                <span>찬우가 괴롭혀요</span>    
                            </li>
                            <li>하정우슛슛슛(13)</li>
                            <li>null</li>
                            <li>2022-11-23</li>
                        </ul>
                    </li>
                    <li class="admin-list__content">
                        <ul class="list-content">
                            <li class="list-content__id">
                                <input type="checkbox" class="checkbox">
                                <span>1</span>
                            </li>
                            <li class="list-content__title">
                                <span class="bold">광화문에서 축구하실분</span>
                                <span>찬우가 괴롭혀요</span>    
                            </li>
                            <li>하정우슛슛슛(13)</li>
                            <li>null</li>
                            <li>2022-11-23</li>
                        </ul>
                    </li>
                    <li class="admin-list__content">
                        <ul class="list-content">
                            <li class="list-content__id">
                                <input type="checkbox" class="checkbox">
                                <span>1</span>
                            </li>
                            <li class="list-content__title">
                                <span class="bold">광화문에서 축구하실분</span>
                                <span>찬우가 괴롭혀요</span>    
                            </li>
                            <li>하정우슛슛슛(13)</li>
                            <li>null</li>
                            <li>2022-11-23</li>
                        </ul>
                    </li>
                    <li class="admin-list__content">
                        <ul>
                            <li>
                                <input type="checkbox" class="checkbox">
                                <span>1</span>
                            </li>
                            <li class="list-content__title">
                                <span class="bold">크리스마스날 맨유 응원하실분 구합니다. 제발요크리스마스날 맨유 응원하실분 구합니다. 제발요크리스마스날 맨유 응원하실분 구합니다. 제발요</span>
                                <span>우빈쿤</span>    
                            </li>
                            <li>1/5</li>
                            <li>2022-02-22</li>
                            <li><span class="status status--round status--neutral">False</span></li>
                            <li><span class="status status--round status--neutral">False</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </main>
    </div>
    <aside class="left-side-bar">
        <img src="/static/images/logo/logo-with-text.svg" alt="로고">
        <nav>
            <ul>
                <li><a class="add-deco-img-left deco-img-home" href="index.html">대시보드</a></li>
                <li><a class="add-deco-img-left deco-img-notification" href="../banner/list.html">공지 관리</a></li>
                <li><a class="add-deco-img-left deco-img-meeting" href="../meeting/list.html">모임 관리</a></li>
                <li><a class="add-deco-img-left deco-img-user" href="../member/list.html">회원 관리</a></li>
                <li class="selected"><a class="add-deco-img-left deco-img-comment-white" href="../comment/list.html">댓글 관리</a></li>
                <li><a class="add-deco-img-left deco-img-report" href="../report/list.html">신고 관리</a></li>
                <li><a class="add-deco-img-left deco-img-logout" href="logout.html">로그아웃</a></li>
            </ul>
        </nav>
    </aside>
</body>
</html>