/* --------------my-meeting start ------------------- */
/*  내가 참여한 모임 & 내가 모집한 모임 페이지의
   타이틀과 아이콘을 묶어주는 영역 */

.my-meeting {
    display: flex;
    align-content: center;
    align-items: baseline;
    padding-bottom: 15px;
    border-bottom: 0.7px solid var(--light-grey1);
}

.my-meeting__title{
    padding-left:1px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    font-weight: var(--bold);
}

/* my-meeting span = icon 입니다 */
.my-meeting span {
    display: flex;
    margin-right: 3.5px;
    align-content: center;
}

/* --------------my-meeting end--------------------- */


/* -------meeting → meeting-participated 변경 start -----*/

/* 내가 참여한 모임은 보더라인이 바뀌어야하기 때문에 */
.meeting-participated{
    border:none;
    border-radius: 0px;
    border-bottom: 0.7px solid var(--light-grey1);
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 188px;
    padding: 20px;
    justify-content: space-between;
}

/* 평가하기 버튼 */
div.btn.btn-semiround.rate {
    background-color:var(--main-color);
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding: 10.4px;
    width: 100%;
}

/* 평가완료 버튼 */
div.btn.btn-semiround.rated {
    background-color:var(--light-grey1);
    color: var(--dark-grey2);
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding: 10.4px;
    width: 100%;
}


@media (min-width: 768px) {

    /* 태블릿 반응형 되었을 때, 맨 윗줄 보더 삭제 */
    .my-meeting {
        border:none;
    }
    .my-meeting__title{
        padding-top: 20px;
        padding-bottom: 35px;
        font-size: 20px;
       
    }
   
    .meeting-participated {
        display: flex;
        flex-direction: column;
        width: 350px;
        min-height: 188px;
        border-radius: 15px;
        background-color: var(--white);
        border: 2px solid var(--light-grey1);
        padding: 20px;
        justify-content: space-between;
    }
}

@media (min-width:1200px){
    .my-meeting__title{
        padding-top: 74px;
        padding-bottom: 56px;
        font-size: 20px;
    }
}