.category-container {
    display: none;
    width: 100%;
    border-bottom: 3px solid var(--light-grey1);
}

.category-nav {
    padding: 0;
    padding: 24px 0;
    margin: 0 auto;
}

.category-subcontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.category {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 24px;
    height:48px;
    font-size: 22px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding: 0 30px;
}

.selected {
    background-color: var(--main-color);
    color: var(--white);
}

@media (min-width: 1200px) {
  .category-container {
        display: block;
    }
}