.select-box {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--dark-grey2);
  font-weight: var(--regular);
}

.select-box--input * {
  font-size: 18px;
}

.select-box--input > span {
  border-radius: 5px;
  width: 100%;
  padding: 14px 18px;
  cursor: pointer;
  border-width:  2px;
  border-style: solid; 
  border-color: var(--light-grey1);
  transition: box-shadow 0.1s, border-color 0.1s;
}

@media (min-width: 576px) {
  .select-box--input > span {
    padding: 14px 20px;
  }
}

.select-box--round > span {
  border-radius: 50px;
}

.select-box--input::before {
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  display: inline-block;
  content: "";
  background: url("../../../../public/images/icon/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s;
}

.select-box--expanded::before {
  transform: rotate(180deg);
}

.select-box__options {
  border-radius: 5px;
  position: absolute;
  top: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
  transform-origin: top;
  background-color: var(--white);
  z-index: 3;
}

.select-box__options--right {
  right: -50%;
}

.select-box__options--left {
  left: 0;
}

.select-box__options--header {
  width: 216px;
}

.select-box__options > li {
  padding: 14px 18px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .select-box__options > li {
    padding: 14px 20px;
  }
}

.select-box__options--header > li {
  padding: 0;
}

.select-box__options--header > li > a{
  padding: 10px 15px;
}


.select-box__options > li:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.select-box__options > li:not(:last-child) {
  border-bottom: 0.3px solid var(--light-grey1);
}

.modal-select {
  font-weight: var(--font-regular);
  font-size: 16px;
  height: fit-content;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px #00000033;
  cursor: none;
}
.modal-select__contents {
  display: flex;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 10px 0px 10px 15px;
  border-bottom: var(--light-grey1) 0.3px solid;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.modal-select .icon {
  display: flex;
  margin-right: 15px;
}

.modal-select :last-child {
  color: var(--red-theme);
}

.modal-select__contents--report
,.modal-select__contents--delete{
  color:var(--red-theme);
}