@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

/* pretendard 폰트 import */
* {
  font-family: "Pretendard Variable";
  font-weight: var(--medium);
  box-sizing: border-box;
}


.modal-2 {
	background-color:rgba(0,0,0,0.15);
    position: fixed;
    inset: 0; /*t, l, b, r 0*/
  } 
.modal__header{
	display:none;
}

.modal-participation {
position: relative;
top: 30%;
width: 338px;
height: fit-content;
background-color: white;
margin: 0 auto;
border: 1px solid #C4C4C4;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-size: 18px;
}

.modal-participation-content{
    display: flex;
    min-height: 126px;
    padding: 52px 60px 30px 55px;
    
}

.modal-text{
    font-weight: 500;
}
.next-line{
  margin-top:16px;
}
.modal-icon{
    margin-right: 6px;
}

.btn-modal{
    height: 59px;
    border-top: 1px solid var(--light-grey1);
    border-radius: 0 0 10 10px;
    display: flex;
    align-items: center;
}

.btn-modal>div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.btn-modal-left{
    color: var(--dark-grey1);
    border-right: 1px solid var(--light-grey1);
    font-weight: bold;
}

.btn-modal-right{
    color: var(--main-color);
    font-weight: bold;
}

.modal__body-container{
	overflow-x:hidden;
}

.modal-participation-content-container{
	flex:0 0 100%;
}

.modal__body{
	display:flex;
	transition:transform 0.3s;
	align-items: flex-start;
}

.modal__body--content1{
	transform:translateX(-100%);
}

.modal-participation-content-container:last-child{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	row-gap:20px;
}

.participation-status__nickname{
	font-weight:var(--bold);
}

.modal-participation-content-container .modal__close-btn {
	margin-bottom:10px;
	margin-left: 0;
}

@media (min-width: 576px) {
    .modal-2 {
      justify-content: center;
    }
  
    .modal-participation {
      width: 400px;
      position: relative;
      height: fit-content;
      border:none;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
    }
    
    .modal-participation-content{
      display: flex;
      padding: 40px 72px 21px 80px;
      
  }
    .modal__header {
      display:flex;
      justify-content :flex-end;
      align-items: center;
      padding: 0 20px;
      min-height: 3rem;
      border-radius: 10px 10px 0 0;
      background-color: var(--main-color);
    }
    
    .btn-modal{
      border: none;
      justify-content: space-around;
      padding: 0 60px;
      font-size: 16px;
    }

    .btn-modal-left{
      border: none;
    }

    .btn-modal-right{
      background-color: var(--main-color);
      color: white;
      border-radius: 5px;
    }

    .btn-modal>div{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 19px;
  }

  .modal-text{
    font-weight: bold;
    font-size: 18px;
  }
    .modal__x-icon{
      width: 24px;
      height: 24px;
      background-image : url(../../../../../public/images/icon/x.svg);
      background-repeat :no-repeat;
      background-position: center;
    }
  
    .modal__body {
      min-height: 5rem;
      height: 100%;
      background-color: var(--white);
      border-radius: 0 0 10px 10px;
    }
  }
  
  .participation-status__text{
  	display:flex;
  	flex-direction:column;
  	align-items:center;
  }
  
  .participation-status__icon{
  	margin-top:20px;
  	display:inline-flex;
  	width:100px;
  	height:100px;
  	justify-content:center;
  	align-items:flex-end;
  }
  
  	
  
  .modal-participation-content-container .input__message{
  	font-size:14px;
  	color:var(--main-color);
  }