.profile {
  min-width: 17rem;
  height: 2.25rem;
  display: grid;
  grid-template:
    "img nickname button" 1.125rem
    "img time button" 1.125rem
    / 2.25rem 12.5rem 1fr;
  column-gap: 1rem;
}

.profile span {
  font-size: 0.875rem;
}

.profile__image {
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  grid-area: img;
  cursor: pointer;
}

.profile__image > img{
  width:100%;
  border-radius: 1.125rem;
}

.profile__nickname {
  grid-area: nickname;
  font-weight: 500;
}

.profile__time {
  color: var(--grey1);
  grid-area: time;
  padding-top: 0.188rem;
}

.profile > button {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../../../../public/images/icon/kebab.svg);
  background-repeat: no-repeat;
  border: none;
  grid-area: button;
  justify-self: flex-end;
  margin-top: 0.438rem;
  cursor: pointer;
}

@media (min-width: 36rem) {
  .profile {
    min-width: 17rem;
    max-width: 49.5rem;
    height: 2.5rem;
  }

  .profile span {
    font-size: 1rem;
  }

  .profile__nickname {
    padding-top: 0.063rem;
  }

  .profile__time {
    color: var(--grey1);
    padding-top: 0.25rem;
  }

  .profile__image {
    width: 2.5rem;
    height: 2.5rem;
  }
  .profile__image > img{
    border-radius: 1.25rem;
  }
}
