.btn-box-selected{
    display: inline-block;
    display: flex;
    align-items: center;
    width: 6.75rem;
    height: 2.5rem;
    background: #62B3B9;
    border-radius: 9999px;
}

.content-area-selected{
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
flex-grow: 1;
}


.btn-box{
    display: inline-block;
    display: flex;
    align-items: center;
    width: 6.75rem;
    height: 2.5rem;
    background: #ffffff;
    border-radius: 9999px;
}

.content-area{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #62B3B9;
    flex-grow: 1;
    }
    