/* 모임 ul */
.meetings {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

@media (min-width: 768px) {
  .meetings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .meetings {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 모임 wrap */
.meeting {
  display: flex;
  flex-direction: column;
  width: 350px;
  min-height: 188px;
  border-radius: 15px;
  background-color: var(--white);
  border: 2px solid var(--light-grey1);
  padding: 20px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .meeting {
    width: 383px;
    height: 264px;
    border-width: 3px;
    padding: 32px;
  }
}

/* 모임 header */
.meeting__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 14px;
}

@media (min-width: 768px) {
  .meeting__header {
    font-size: 1rem;
  }
}

.meeting__category {
  border-right: 2px solid var(--main-color);
  padding-right: 0.5rem;
}

.meeting__region,
.meeting__date {
  color: var(--grey4);
}

.meeting__region::before {
  width: 12px;
  height: 12px;
  flex: 0 0 12px;
  margin-right: 4px;
}

.meeting__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .meeting__title {
    font-size: 20px;
  }
}

.meeting__tags {
  display: flex;
  color: var(--grey1);
  font-size: 14px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .meeting__tags {
    font-size: 1rem;
  }
}

.meeting__tags > li {
  margin-right: 4px;
}

.meeting__info-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.meeting__status {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0.5rem;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .meeting__status {
    font-size: 1rem;
  }
}

.meeting__status--on {
  color: var(--main-color);
  background-color: var(--white);
  border: 1px solid var(--main-color);
}

.meeting__status--off {
  color: var(--white);
  background-color: var(--main-color);
}

.meeting__info-detail-more {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .meeting__info-detail-more {
    display: flex;
    gap: auto;
    font-size: 1rem;
  }
}

.meeting__views::before,
.meeting__comments::before {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  margin-right: 4px;
}
