.category-container {
    display: none;
    width: 100%;
    border-bottom: 3px solid var(--light-grey2);
    margin-top: 20px;
}

.category-nav {
    padding: 0;
    padding: 24px 0;
    width: 90%;
    margin: 0 auto;
}

.category-subcontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.category {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 1.25rem;
    font-size: 1.5rem;
}

.selected {
    background-color: var(--main-color);
    color: var(--white);
    padding: 0 1.5rem;
}

@media (min-width: 576px) {
    .category-container {
        display: block;
    }
}