@import url(/static/css/member/style.css);

.participant {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.participant__num {
  display: flex;
}

.participant__num > span {
  margin-right: .5rem;
  font-weight: bold;
}

.participant__list {
  margin-top: 1rem;
  display: grid;
  grid-auto-rows: 46px;
  row-gap: 8px;
}

.participant__info {
  width: 220px;
  height: 46px;
  border-radius: 1.625rem;
  display: flex; 
  flex-grow: 0;
  cursor: pointer;
  align-items: center;
  padding-left: 6px;
}

.participant__info:hover{
  background-color: var(--main-color);
  color: var(--white);
}

.participant__info > img{
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

@media (min-width:576px){
  .participant__list {
    display: grid;
    grid-auto-rows: 52px;
    grid-template-columns: repeat(2, 240px);
    row-gap: 16px;
    column-gap: 10px;
  }

  .participant {
    font-size: 18px;
    font-weight: 500;
  }
  
  .participant__info {
    width: 240px;
    height: 52px;
  }
  
  .participant__info > img{
    width: 42px;
    height: 42px;
  }

  .participant__num {
    font-size: 18px;
  }
}

@media (min-width:792px){
  .participant__list {
    grid-template-columns: repeat(3, 240px);
  }
}
