.input__label{
	margin-top: 30px;
	font-weight: var(--bold);
}

.report__close-btn{
	margin:0;
}

#cancel-btn{
    background-color: var(--dark-grey2);
    color: var(--white);
    margin:0 15px 0 0;
    
}

#report-btn{
    background-color:var(--main-color);
    color:var(--white);
}

.report__cancel-btn{
	background-size:0;
	width:60px;
}

.report-modal__body{
	background-color: white;
	height:450px;
	display : flex;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
}

.meeting-form__input{
    margin: 30px auto;
}

.select-box__options li{
	height: 45px;
}

.input-text{
	display : flex;
	flex-direction: column;
}

.input-text > div {
	margin: 0px auto;
}

.input-text__label{
	margin-bottom: 10px;
}

.input-text__content{
    margin: 0 auto;
    min-width: 350px;
    height:260px;
    font-size: 18px;
    resize: none;
}

.btn-wrapper{
    display:flex; 
    justify-content: center;
    margin: 24px auto;
}

.select-box__options{
    width: 350px;
}

.select-box--input::before {
    right: 18px;
    top:18px;
}
    
.select-box--input > input {
	border: 0.125rem solid #EBEBEB;
	min-width:350px;
    height: 47.5px;
	border-radius: 0.3125rem;
	cursor:pointer;
	text-indent: 10px;
}

.input-text__content::placeholder{
    color:#8B8B8B;
}

@media (min-width:576px) {
	
	.select-box--input::before {
    right: 25px;
	}
	
	.report-modal{
    width:450px;
    height:520px;
	}

	.button-div{
	    height:54px;
	    background-color: #76C1B1;
	}
	
	.meeting-form__input input{
    width: 410px;
    height:50px;
	}
	
	.select-box__options{
    width: 410px;
	}
	
	.input-text__content{
    width: 410px;
    height: 200px;
	}
	
	.select-box__options li{
	height: 50px;
	}
	
	.report__cancel-btn{
	width:95px;
}

}