.select-box {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--dark-grey2);
  font-weight: var(--regular);
}

.select-box--input * {
  font-size: 18px;
}

.select-box--input > input {
  margin-top: 8px;
  border-radius: 5px;
  width: 100%;
  padding: 14px 18px;
  cursor: pointer;
  border: 2px solid var(--light-grey1);
}

@media (min-width: 576px) {
  .select-box--input > input {
    padding: 14px 20px;
  }
}

.select-box--round > input {
  border-radius: 50px;
}

.select-box--input::before {
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  display: inline-block;
  content: "";
  background: url("/images/icon/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.select-box--expended::before {
  transform: rotate(180deg);
}

.select-box__options {
  border-radius: 5px;
  position: absolute;
  top: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  background-color: var(--white);
  z-index: 1;
}

.select-box__options--right {
  right: -50%;
}

.select-box__options--left {
  left: 0;
}

.select-box__options--header {
  width: 216px;
}

.select-box__options > li {
  padding: 14px 18px;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;
}

@media (min-width: 576px) {
  .select-box__options > li {
    padding: 14px 20px;
  }
}

.select-box__options--header > li {
  padding: 10px 15px;
}

.select-box__options > li:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.select-box__options > li:not(:last-child) {
  border-bottom: 0.3px solid var(--light-grey1);
}

.select-box--expended .select-box__options {
  max-height: fit-content;
}

.modal-select {
  height: fit-content;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px #00000033;
  cursor: none;
}
.modal-select__contents {
  display: flex;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 10px 0px 10px 15px;
  border-bottom: var(--light-grey1) 0.3px solid;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.modal-select .icon {
  display: flex;
  margin-right: 15px;
}

.modal-select :nth-child(3) {
  color: var(--red-theme);
}
