.main {
    margin: 2rem auto;
    max-width: 792px;
}

.main > section {
    margin: 1rem 20px;
}

/* 792px 이하일 때 요소들이 모두 양 옆 경계선에 붙어서 마진을 좌우로 20px 넣었습니다 */
@media (min-width: 576px) {
    .main{
        margin: 5rem auto;
    }

    .main > section {
        margin: 2rem 20px;
    }
}