.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner {
    background-color: aquamarine;
    width: 100%;
    height: 96px;
}

.main__header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.meeting__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

.meeting-activate-option {
    display: none;
}

@media (min-width: 576px) {
    .meeting-activate-option {
        display: flex;
        align-items: center;
    }
}

.main__content {
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 576px) {
    .banner {
        height: 160px;
    }
}

.region-category {
    display: none;
    width: 220px
}

@media (min-width: 576px) {
    .region-category {
        display: inline-block;
    }
}