@import url(/static/css/reset.css);
@import url(/static/css/color.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

/* pretendard 폰트 import */
* {
  font-family: "Pretendard Variable";
}
