.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  background: var(--light-grey1);
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
}

.btn-round {
  border-radius: 1.25rem;
}

.btn-semiround {
  border-radius: 0.25rem;
}

.btn-action {
  background-color: var(--main-color);
}

.btn-cancle {
  background-color: var(--grey2);
}

.btn-totop {
  display: inline-flex;
  background: url("/images/chevron.svg") no-repeat center;
  background-color: var(--main-color);
  background-size: 1.875rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
}

.toggle-switch {
  --radius: 21px;
  width: calc(var(--radius) * 2.2);
  height: calc(var(--radius) * 1.3);
  display: block;
  position: relative;
  border-radius: 6.25rem;
  background: var(--light-grey1);
  cursor: pointer;
}

@media (min-width: 768px) {
  .toggle-switch {
    height: calc(var(--radius) * 1.3);
    --radius: 30px;
  }
}

.toggle-switch .toggle-button {
  width: calc(var(--radius));
  height: calc(var(--radius));
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--white);
  box-shadow: -1px 0px 1px 0px #0000004a, 0px 2px 4px 0px #00000040;
}

@media (min-width: 768px) {
  .toggle-switch .toggle-button {
    left: 5px;
  }
}

#toggle:checked ~ .toggle-switch {
  background: var(--main-color);
}

#toggle:checked ~ .toggle-switch .toggle-button {
  left: calc(var(--radius) - 0.2px);
  box-shadow: 1px 0px 1px 0px #504f4f4a, 0px 1px 4px 0px #00000040;
  background: var(--white);
}

.toggle-switch,
.toggle-button {
  transition: all 0.2s ease-in;
}

@media (min-width: 576px) {
  .btn {
    padding: 0.5rem 2rem;
  }
}
