:root {
    --admin-white: white;
    --admin-icon-theme: #4f4c4c;
    --activate: #81d051;
    --red-theme: #ff4f4f;
    --orange-theme: #ffbc59;
    --main-color: #62b3b9;
    --white: #ffffff;
    --modal-white: #fbfbfd;
    --tiffany-blue: #76c1b1;
    --true-blue: #177dd7;
    --light-grey1: #ebebeb;
    --light-grey2: #c4c4c4;
    --grey1: #a5a5a5;
    --grey2: #8b8b8b;
    --grey3: #6f6f6f;
    --grey4: #4f4c4c;
    --dark-grey2: #333333;
    --black: #000;
    --dark-grey1: #3c3c3c;
    --admin-loyal-blue: #1d4683;
    --admin-grey: #4f5661;
    --error-red: #ff4f4f;
}