.text-hidden {
  font-size: 0 !important;
}

.hidden {
  display: none !important;
}

.v-hidden{
	visibility:hidden !important;
}

.pointer{
	cursor:pointer
}
.underline{
	text-decoration:underline;
}

.add-deco-img-left::before,
.add-deco-img-right::after {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 3rem;
  height: 3rem;
  flex: 0 0 3rem;
  content: "";
}

.add-deco-img-left,
.add-deco-img-right {
  display: flex;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
}

.add-deco-img-right {
  flex-direction: row-reverse;
}

.deco-img-star {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url(/images/icon/star.svg);
}
.deco-img-big-logo::before {
  display: inline-block;
  width: fit-content;
  flex: 0 0 147.68px;
  background-size: contain;
  background-image: url(/images/logo/logo-with-text.svg);
}

.deco-img-home::before {
  background-image: url(/images/icon/home.svg);
}

.deco-img-comment::before {
  background-image: url(/images/icon/comment.svg);
}

.deco-img-notification::before {
  background-image: url(/images/icon/megaphone.svg);
}

.deco-img-meeting::before {
  background-image: url(/images/icon/meeting.svg);
}

.deco-img-user::before {
  background-image: url(/images/icon/user-icon.svg);
}

.deco-img-speech-bubble::before {
  background-image: url(/images/icon/speech-bubble.svg);
}



.deco-img-report::before {
  background-image: url(/images/icon/siren.svg);
}

.deco-img-logout::before {
  background-image: url(/images/icon/logout.svg);
}

.deco-img-home-white::before {
  background-image: url(/images/icon/home-white.svg);
}

.deco-img-notification-white::before {
  background-image: url(/images/icon/megaphone-white.svg);
}

.deco-img-meeting-white::before {
  background-image: url(/images/icon/meeting-white.svg);
}

.deco-img-user-white::before {
  background-image: url(/images/icon/user-icon-white.svg);
}

.deco-img-comment-white::before {
  background-image: url(/images/icon/comment-white.svg);
}

.deco-img-report-white::before {
  background-image: url(/images/icon/siren-white.svg);
}

.deco-img-logout-white::before {
  background-image: url(/images/icon/logout-white.svg);
}

.deco-img-hamburger::before {
  background-image: url(/images/icon/hamburger.svg);
}

.deco-img-search::before {
  background-image: url(/images/icon/search.svg);
}

.deco-img-eyes::before {
  background-image: url(/images/icon/eyes.svg);
}

.deco-img-location::before {
  background-image: url(/images/icon/small-location.svg);
}

@media (max-width: 576px) {
  .hide {
    display: none;
  }
}
