

article{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
   
}



.category-wrap{
    margin-top: 6px;
    margin-bottom: 12px;
}
.title-container{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.title {
    display: flex;
    font-size: 17px;
    margin-right: auto;
    font-weight: 600;
    color: var(--dark-grey2);
   
}

.icon-kebab{
    display: inline-flex;
}


.start-datetime-container{

    display: flex;

    margin-bottom: 10px;
}

.start-datetime-container .icon {
    margin-right: 8px;
}



.region-container .icon-location16 {
    margin-left: 4px;
    margin-right: 13px;
}

.region-detail-wrap{
    margin-top: 5px;
    margin-left: 24px;
}

.category {
    color:var(--main-color);
    font-weight: 600;
}



.region-detail-wrap{
    color: var(--grey2);
    margin-bottom: 17px;
}


.content-container{
    border-top: 1px solid var(--light-grey1);
    padding-top: 17px;

}

.content-container img{
    max-width: 100%;
}

.tags{
    margin-top: 44px;
    color: var(--light-grey2);
    display: flex;
    gap: 4px;
    margin-bottom: 7px;
    font-weight: 400;
}

.views{
    font-weight: 400;
    color: var(--light-grey2);
}

 .control-btn-wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid var(--light-grey1);
    z-index:3;
  } 
   
  span.btn.btn-round{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
   
  }
/* 
💖todo: 반응형💗
 */

 @media (min-width: 576px) {
   
    .title{
        font-size: 22px;
    }
    article {
        font-size: 18px;
    }
    .tags{
        font-size: 18px;
        padding-top: 20px;
    }

    .content-container {
        padding-top: 30px;
    }

    .category-wrap {
        margin-bottom: 20px;
    }

    .start-datetime-container {
        padding-top: 10px;
    }
    .region-container {
        padding-top: 5px;
    }

    .region-detail-wrap {
        margin-top: 10px;
    }
    .control-btn-wrap{
        display: flex;
        width: fit-content;
        border-top: none;
        position: static;
        margin-left: auto;
        z-index:3;
    }
      
      span.btn.btn-round{
        width: 100%;
        text-align: center;
       
       
      }
   
  }


