<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layer popup</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/deco.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/member/popup.css">
</head>
<body>

      <div class="popup-container">

        
        <div class="popup__wrap-inactive" id="popup">
          <div class="popup">
          
            <div class="popup__body">
              <div class="popup__body-content">
                <div class="popup__body-contentbox">
                    <span>😀 팝업 문구를 작성해주세요요요요요요요요요요요요요요!!</span>
                </div>
                
              </div>
            </div>
            <div class="popup__foot">
                <span class="pop-btn close" id="close">취소 문구</span>
              <span class="pop-btn confirm" id="confirm">수락 문구</span>
             
            </div>
          </div>
      </div>
      </div>

    
</body>
</html>