<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/member/style.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/member/component/reply.css" />
    <link rel="stylesheet" href="/css/member/component/profile-box.css">
  </head>
  <body>
    <section class="reply">
      <ul class="reply__list">
          <li th:each="reply:${replies}">
              <div class="profile"> 
                  <span class="profile__image" th:text="${reply.profileImgPath}"></span>
                  <span class="profile__nickname profile__nickname" th:text="${reply.gri}">찬우몬</span>
                  <span class="profile__time">3분전</span>
                  <button></button>
              </div>
              <span class="reply__content" th:text="${reply.content}">
                  이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 모든 국민은 거주·이전의 자유를 가진다. 대통령은 제1항과 제2항의 처분 또는 명령을 한 때에는 지체없이 국회에 보고하여 그 승인을 얻어야 한다.
              </span>
              <div class="reply__replies">
                      <span>답글 달기</span>
              </div>
          </li>
      </ul>
      <div class="reply__input-container"> 
        <textarea
        class="reply__input"
        name="답글 입력"
        placeholder="답글을 입력하세요."
        ></textarea>
        <span class="reply__btn btn btn-round">등록하기</span>
    </div>
  </section>
  </body>
</html>
