<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpop.web.dao.CategoryDao">
    <select id="get" resultType= "com.zpop.web.entity.Category">
        select *
        from category
        where id=#{id}
    </select>
	
	<select id="getByName"  resultType="Category">
			select * from category
			where name=#{name}
	</select>
	
    <select id="getList" resultType= "com.zpop.web.entity.Category">
        select *
        from category
    </select>
</mapper>

