<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpop.web.dao.CommentDao">
  <select id="getComment" resultType= "com.zpop.web.entity.comment.CommentView">
	SELECT * 
	FROM commentView 
	WHERE 
		<if test=" query != null">
			meetingId = #{query}
		</if>
		AND parentCommentId IS NULL
		AND deletedAt IS NULL
	ORDER BY createdAt
  </select>
  <select id="getReply" resultType= "com.zpop.web.entity.comment.CommentView">
	SELECT * 
	FROM commentView
	WHERE
		<if test=" query != null">
			groupId = #{query}
		</if>
	AND parentCommentId IS NOT NULL
	AND deletedAt IS NULL
    ORDER BY createdAt
  </select>
  <select id="getCountOfComment" resultType="int">
  	SELECT count(id) 
  	FROM comment
  	WHERE
		<if test=" query != null">
			meetingId = #{query}
		</if>
  	AND parentCommentId IS NULL
  </select>
  <select id="getCountOfReply" resultType="int">
  	SELECT count(id) 
  	FROM comment
  	WHERE
		<if test=" query != null">
			groupId = #{query}
		</if>
  	
  </select>
  <select id="getCommentById" resultType= "com.zpop.web.entity.comment.Comment">
  	SELECT * FROM comment
  	WHERE 
  	<if test="commentId != null">
			id = #{commentId}
	</if>
  </select>
  <insert id="insertComment" parameterType="com.zpop.web.entity.comment.Comment">
  	INSERT INTO comment 
	  	(meetingId, writerId, content)
	  	VALUES (#{meetingId}, #{writerId}, #{content})
  </insert>
  
  <insert id="insertReply" parameterType="com.zpop.web.entity.comment.Comment">
  		INSERT INTO comment 
				(meetingId, parentCommentId, groupId, writerId, content)
				values (#{meetingId}, #{parentCommentId}, #{groupId}, #{writerId}, #{content})
  </insert>
  <update id="updateComment" parameterType="com.zpop.web.entity.comment.Comment">
  	UPDATE comment
  	<set>
      <if test="content != null">
      	content=#{content},
      	updatedAt = now()
      </if>
    </set>
  	WHERE id = #{commentId}
  </update>
  <update id="deleteComment" parameterType="com.zpop.web.entity.comment.Comment">
  	UPDATE comment
  	<set>
      <if test="commentId != null">
      	deletedAt = now()
      </if>
    </set>
  	WHERE
  	id = #{commentId}
  </update>
</mapper>

