<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpop.web.dao.MeetingDao">
	<select id="getDetailView"  resultType= "com.zpop.web.dto.MeetingDetailDto">
        SELECT m.title, m.startedAt, m.detailRegion, m.content, m.maxMember, m.regMemberId,m.id,
                        m.viewCount,c.name categoryName, r.name regionName
        FROM meeting m 
        JOIN category c on m.categoryId = c.id 
        JOIN region r on m.regionId = r.id 
        WHERE m.id = #{id};
	</select>

	<insert id="insert" parameterType="Meeting" useGeneratedKeys="true" keyProperty="id">        
		INSERT INTO meeting
        (regMemberId, categoryId, regionId, ageRangeId, title, content, detailRegion, maxMember,
        startedAt, contact, contactTypeId , genderCategory)
        VALUES (#{regMemberId}, #{categoryId}, #{regionId}, #{ageRangeId},
        #{title}, #{content}, #{detailRegion}, #{maxMember}, #{startedAt}, #{contact}, #{contactTypeId}, #{genderCategory})
    </insert>
    
    <update id="updateContent" parameterType="Meeting">
        UPDATE meeting
        SET content=#{content}
        WHERE id = #{id}
    </update>

    <select id="get" resultType="com.zpop.web.entity.meeting.Meeting">
        SELECT *
        FROM meeting
        WHERE id=#{id}
    </select>

    <select id="getThumbnailViewList" parameterType="com.zpop.web.dto.MeetingThumbnailPagination"
        resultType="com.zpop.web.entity.meeting.MeetingThumbnailView">
        SELECT * FROM meetingThumbnail <trim
            prefix="WHERE" prefixOverrides="AND | OR">
            <choose>
                <when test="startId == 0"> id >= #{startId} </when>
                <otherwise>
                    <![CDATA[ id < #{startId} ]]>
                </otherwise>
            </choose>
            <choose>
                <when test="isClosed == false"> 
                    AND closedAt IS NULL
                </when>
                <when test="isClosed == true"> 
                    AND closedAt IS NOT NULL
                </when>
            </choose>
            <if test="categoryId != null">
                AND categoryId = #{categoryId}
            </if>
            <if test="regionIds != null">
                AND regionId IN 
                <foreach collection="regionIds" item="regionId" separator="," open="(" close=")">
                    #{regionId}
                </foreach>
            </if>
            <if test="keyword !=null">
                AND title LIKE '%${keyword}%'
            </if>
        </trim>
        LIMIT 0, 9; </select>

    <update id="updateDeletedAt" parameterType="com.zpop.web.entity.meeting.Meeting"> 
        UPDATE meeting
        deletedAt=CURRENT_TIMESTAMP()
        WHERE id = #{id}
    </update>

    <update id="updateClosedAt" parameterType="com.zpop.web.entity.meeting.Meeting">
        UPDATE meeting
        closedAt=CURRENT_TIMESTAMP()
        WHERE id = #{id}
    </update>
	
	<update id="updateViewCount" parameterType="com.zpop.web.dto.MeetingDetailDto">
        UPDATE meeting
        SET viewCount = viewCount + 1
        WHERE id = #{id}
	</update>

	<select id="getMeetingList"
		resultType="com.zpop.web.entity.meeting.MeetingThumbnailView">
		SELECT *
		FROM meetingThumb AS mt
		JOIN participation p ON
		mt.id = p.meetingId
		JOIN member m ON p.participantId = m.id
		WHERE m.id
		=#{id}
	</select>
	<select id="getAdminViewList" resultType="AdminMeetingDto">
		SELECT
		meeting.id,
		meeting.title,
		member.nickname as hostNickname,
		meeting.maxMember,
		meeting.createdAt,
		IF(meeting.closedAt IS NULL, 0, 1) AS isClosed,
		IF(meeting.deletedAt IS NULL, 0, 1) AS isDeleted,
		IFNULL(pNum.num, 0) as participantsNum
		FROM meeting
		JOIN member
		ON meeting.regMemberId = member.id
		LEFT OUTER JOIN(
		SELECT
		meetingId,
		COUNT(IF(bannedAt IS NULL AND canceledAt IS NULL,1, NULL))
		as num
		FROM participation
		GROUP BY meetingId
		) AS pNum
		ON
		pNum.meetingId=meeting.id
		ORDER BY meeting.id DESC
		LIMIT
		#{offset},#{size};
		<where>
			<if test="keyword!=null">
				title LIKE '%${keyword}%'
			</if>
		</where>
	</select>
	<!-- 검색어 옵션 뭐가될지 잘 몰라서 우선 모임글 제목만 함 -->
	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(id)
		FROM meeting
		<where>
			<if test="keyword!=null">
				title LIKE '%${keyword}%'
			</if>
		</where>
	</select>
	<select id="getAdminDetailView"
		resultType="AdminMeetingDetailsDto">
		SELECT
			meeting.*,
			IF(meeting.deletedAt IS NULL, 0, 1) AS isDeleted,
			IF(meeting.closedAt IS NULL, 0, 1) AS isClosed,
			m1.nickname AS regMemberNickname,
			m1.profileImagePath AS regMemberProfile,
			c.name AS categoryName,
			r.name AS regionName,
			ar.type AS ageRangeType,
			ct.name AS contactTypeName
		FROM meeting
		JOIN member AS m1
		ON meeting.regMemberId = m1.id
		JOIN category AS c
		ON meeting.categoryId = c.id
		JOIN region AS r
		ON meeting.regionId = r.id
		JOIN ageRange AS ar
		ON meeting.ageRangeId = ar.id
		JOIN contactType AS ct
		ON meeting.contactTypeId = ct.id
		WHERE meeting.id=#{meetingId}
	</select>
	
		<select id="getmaxMember" resultType="java.lang.Integer">
		SELECT maxMember FROM meeting
		WHERE id = #{meetingId}
		</select>
	
		<select id="getMeetingHost" resultType="int">
					SELECT regMemberId from meeting
					where id = #{id}
		</select>
	
	    <select id="getMaxMember" resultType="int">
    select maxMember from meeting
    where id=#{meetingId}
    
    </select>
    
    <!-- 댓글 알림 생성을 위한 구문 -->
    <select id="getRegMemberIdByMeetingId" resultType="int">
    	SELECT regMemberId FROM meeting WHERE id = #{meetingId}
    </select>
</mapper>