<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpop.web.dao.ReportedMemberDao">

	<insert id="insert" parameterType="ReportedMeeting">
		insert into reportedMember (reportedId,reporterId,typeId,adminId,reason,createdAt,processedAt,blockedAt,releasedAt) 
		values(#{reportedId},#{reporterId},#{typeId},#{adminId},#{reason},#{createdAt},#{processedAt},#{blockedAt},#{releasedAt});
	</insert>

	<select id="getAdminViewList" resultType="AdminReportedMemberDto">
		SELECT
			rm.id,
			m1.nickname AS reporterNickname,
			m1.id AS reporterId,
			m2.nickname as reportedNickname,
			m2.id as reportedId,
			mrt.type as reportType,
			rm.processedAt
		FROM reportedMember as rm
		JOIN member as m1
		ON rm.repoterId = m1.id
		JOIN member as m2
		ON rm.reportedId = m2.id
		JOIN memberReportType as mrt
		ON rm.typeId = mrt.id
		LIMIT #{offset},#{size};
	</select>
	<select id="count" resultType="java.lang.Integer">
		SELECT count(id)
		FROM reportedMember;
	</select>

</mapper>