/* --------------my-meeting start ------------------- */
/*  내가 참여한 모임 & 내가 모집한 모임 페이지의
   타이틀과 아이콘을 묶어주는 영역 */

/*my meeting 에서 사용할 스타일 정의*/
.title-container{
    display: flex;
    width: 100%;
    align-content: center;
    align-items: baseline;
    padding-bottom: 15px;
    margin-top: 30px;
}


.my-meeting__title{
    padding-left:1px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    font-weight: var(--bold);
}

.title-container span {
      display: flex;
     margin-right: 5px;
       align-items: flex-end;
     }

.meeting{
    border: none;
    border-radius: 0px;
    border-bottom: 1.3px solid var(--light-grey1);
}


div.meeting__info{
    display: none;
}

.meeting__info-rate .btn{
    background-color:var(--main-color);
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding: 10.4px;
    width: 100%;
}
.meeting__info-rate{

}
/*
.my-meeting-container{
    display: flex;
    justify-content: space-evenly;

}
.meetings{
    gap:2px;
}
.meeting__info-more {
    display: flex;

}
.meeting__header{
    flex-direction: column;
}

div.meeting__views.add-deco-img-left.deco-img-eyes{
    padding-right: 10px;
}
.my-meeting {
    display: flex;
    align-content: center;
    align-items: baseline;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-grey1);
    margin-top: 30px;
}

.my-meeting__title{
    padding-left:1px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    font-weight: var(--bold);
}

!* my-meeting span = icon 입니다 *!
.my-meeting span {
    display: flex;
    margin-right: 3.5px;
    align-items: flex-end;
}*/

/* --------------my-meeting end--------------------- */


/* -------meeting → meeting-participated 변경 start -----*/

/* 내가 참여한 모임은 보더라인이 바뀌어야하기 때문에 */
/*.meeting-participated{
    border:none;
    border-radius: 0px;
    border-bottom: 0.7px solid var(--light-grey1);
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 188px;
    padding: 20px;
    justify-content: space-between;
}

!* 평가하기 버튼 *!
div.btn.btn-semiround.rate {
    background-color:var(--main-color);
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding: 10.4px;
    width: 100%;
}

div.range-slider {
    width: 265px;
    padding-right: 10px;
}

div.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
!* 평가완료 버튼 *!
div.btn.btn-semiround.rated {
    background-color:var(--light-grey1);
    color: var(--dark-grey2);
    align-items: center;
    justify-content: center;
    display: flex;
    height: fit-content;
    padding: 10.4px;
    width: 100%;
}*/

/*div.modal__body {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

@media (min-width: 768px) {

    .title-container {
        border:none;
        width: auto;
    }
    .my-meeting__title{
        padding-top: 20px;
        padding-bottom: 35px;
        font-size: 20px;
       
    }

    .meeting{
        border: 2px solid var(--light-grey1);
        border-radius: 15px;
    }
   
    /*.meeting-participated {
        display: flex;
        flex-direction: column;
        width: 350px;
        min-height: 188px;
        border-radius: 15px;
        background-color: var(--white);
        border: 2px solid var(--light-grey1);
        padding: 20px;
        justify-content: space-between;
    }*/
}

@media (min-width:1200px){
    .title-container {
        width: 100%;
    }
    .my-meeting__title{
        padding-top: 74px;
        padding-bottom: 56px;
        font-size: 20px;
    }
}

