/*-----modal body에 패딩-----*/
.modal__body{
    padding-left: 20px;
    padding-right: 20px;
}

.meeting__info-rate{
    width: 100%;
}

/*----- 평가하기 전체를 감싸는 container ---*/
.rate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rate-container h1{
    margin: 80px auto auto;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-weight: var(--semi-bold);

}
/* ------😚이모티콘 리스트 영역 시작------*/
.rate__emoji-list{
    display: flex;
    width: 100%;
    margin-top: 20px;

    justify-content: space-between;
    margin-bottom: 24px;

}

/* 인기도 -1, 1, 3*/
.rate__emoji p{
    display: inline-block;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--main-color);
}   

.rate__emoji{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.rate__emoji:nth-child(2){
    padding-left: 24px;
    padding-right: 24px;
}

/* ------😚이모티콘 리스트 영역 끝------*/


/* -------- slider 영역 시작 -------*/
.rate__slider{
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}
/*  닉네임  */
.rate__slider span {
    display: flex;
    align-self: center;
    margin-bottom: 12px;
    font-size: 16px;
    color: var(--dark-grey2);

}
/*  range  */
.rete__slider input{
    display: flex;
    align-items: center;
}

/* -------- slider 영역 끝 -------*/


/* -- 완료 버튼✅ ---*/
div.btn.btn-semiround {
    margin-top: 34px;
    font-size: 18px;
    font-weight: bold;
    width: 310px;
    height: fit-content;
    background-color: var(--main-color);
}

/* -------반응형 적용 -------*/
@media (min-width: 390px) {
    .rate__emoji-list{
        width: 390px;
        justify-content: space-around;
    }
    input[type=range] {
        width: 290px;
        height: 16px;
    }
}
@media (min-width: 410px) {


    .rate-container h1{
        margin-top: 40px;
        font-size: 19px;
        margin-bottom: 30px;

    }
    input[type=range] {
        width: 300px;
    }


    input[type=range]::-webkit-slider-thumb {
        margin-top:-10px;
    }
    div.btn.btn-semiround{
        margin-bottom: 30px;
    }

}