

.range-slider {

    align-content: center;
    --primary-color: #62B3B9;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color);
    --fill-color: var(--primary-color);
    --progress-background: #ebebeb;

    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 32px;
    --thumb-color: #ebebeb;


    --thumb-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
    var(--thumb-color),
    0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(
            --ticks-height,
            0
    );

    --step: 1;
    --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));

    --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
    --tickIntervalPerc: calc(
            (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
            var(--tickEvery, 1)
    );
    --value-a: Clamp(
            var(--min),
            var(--value, 0),
            var(--max)
    );
    --value-b: var(--value, 0);

    --completed-a: calc(
            (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --completed-b: calc(
            (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp(
            -1,
            1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
            1
    );
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;

}


.range-slider input {
    width: 60%;
}

.range-slider__progress {
}

.range-slider[data-ticks-position=top] {
    --flip-y: 1;
}

.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2);
    --clip-end: calc(100% - (var(--cb)) * 999);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
    height: calc(var(--track-height));
    background: var(--progress-background, #eee);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
    box-shadow:inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.range-slider__progress::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    clip-path: var(--clip);
    top: 0;
    bottom: 0;
    background: var(--fill-color, black);
    /*box-shadow: var(--progress-flll-shadow);*/
    z-index: 1;
    border-radius: inherit;
}

.range-slider > input {
    -webkit-appearance: none;
    width: 100%;
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: 0;
    top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

.range-slider > input::-webkit-slider-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    /*transform: var(--thumb-transform);*/
    /*border-radius: var(--thumb-radius, 50%);*/
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    transition: 0.1s;
}

.range-slider > input:only-of-type ~ .range-slider__progress {
    --clip-start: 0;
}

.range-slider {
    display: flex;
    align-items: center;
}